# Dependencies
node_modules/
client/node_modules/
server/node_modules/
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# Build & Production Output
dist/
client/dist/
client/dist-ssr/
server/dist/
/build
*.tsbuildinfo

# Environment & Secret Files
.env
.env*
.env.local
.env.development.local
.env.test.local
.env.production.local
*.env

# Logs & Debugging
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# IDE & Editor Directories
.vscode/
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.sublime-workspace

# Operating System Files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
Desktop.ini

# Testing & Coverage
/coverage
.nyc_output

# Temporary & Cache Directories
.eslintcache
.vercel
.cache/
.tmp/
tmp/
temp/