# Dependencies
node_modules/

# Build & Production Output
dist/
*.tsbuildinfo

# Environment & Secret Files
.env
.env*
.env.local

# Logs & Debugging
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# IDE & OS Files
.vscode/
!.vscode/extensions.json
.idea/
.DS_Store
Thumbs.db

# Cache & Testing
coverage/
